<div class="flex gap-x-2 w-full">
    <form name="location-search" id="location-search" method="POST" action="/" novalidate>
        {% csrf_token %}
        <label class="hidden"></label>
        <input id="location" class="border-2 border-white px-2 text-black" type="text" name="location" placeholder=" Enter City Name..."  required="">
        <button id="location-btn" class="border-2 border-white px-2 py-2" type="submit" onclick="validateForm()">Submit</button>
        <span class="error text-sm flex flex-wrap">
            <p id="location-error">{{invalid_input_msg}}</p>
        </span>
    </form>
</div>