{% load static %}
{% load tailwind_tags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#908f9e"/>
    <meta name="theme-color" content="#908f9e"/>
    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/global.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/open-weather-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/weather-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/weather-icons-wind.min.css' %}">
    <!-- Fonts and icons -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Nucleo Icons -->
    <!--Tailwind CDN-->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Popper -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <!-- Required chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% tailwind_css %}
    <title>Weather App</title>
</head>

{% include 'components/navbar.html' %}

<body class="min-h-screen m-0 antialiased font-normal text-size-base leading-default">

    {% include 'components/dashboard.html' %}

    <main class="relative flex flex-col bg-white mx-auto px-[5em] text-black">
        <div class="w-full mx-auto">
            <div class="flex-wrap items-center justify-between w-full p-0 border-0 shadow-none">
                <div class="w-full h-full transition-all duration-200 ease-soft-in-out">
                </div>
    
                <!-- Trends -->

                <div class="flex flex-col w-full">
                    <div class="w-full py-6 mx-auto">
                        <h6 class="mt-6 mb-0 ml-2 text-2xl font-bold uppercase">Trends</h6>
                        {% include 'components/trends.html' %}
                    </div>
                    <div class="flex flex-row">
                        <div class="flex flex-col w-full py-6 mx-auto">
                            <h6 class="mt-6 mb-2 ml-2 text-2xl font-bold uppercase">Radar</h6>
                            <div class="min-w-fit">
                                {% include 'components/radar.html' %}
                            </div>
                        </div>
                        <div class="flex flex-col w-full py-6 mx-auto h-96">
                            <h6 class="mt-6 mb-0 ml-2 text-2xl font-bold uppercase">Alerts</h6>
                            {% include 'components/alerts.html' %}
                        </div>
                    </div>
                </div>
            </div>       
        </div>

            <!-- <hr class="h-px mt-0 border-2 border-white" /> -->        
    </div>

    </main>
    
    {% include 'components/footer-2.html' %}
    {% include 'components/script-tags.html' %}
</body>
</html>