<footer class="bottom-0 bg-white lg:relative pt-4">
    <div class="w-full px-6 mx-auto max-w-5xl">
        <div class="flex flex-wrap items-center -mx-3 lg:justify-between">
            <div class="w-full max-w-full px-3 mt-0 mb-6 shrink-0 lg:mb-0 lg:w-1/2 lg:flex-none">
                <div class="flex items-center justify-center gap-x-2 leading-normal text-center text-size-sm text-slate-500 lg:text-left">
                    ©
                    <script>
                    document.write(new Date().getFullYear() + " - ");
                    </script>
                    
                    Built with 
                    
                    <span>
                        <a href="https://djangoproject.com"><img src="/static/images/django-logo.png" width="35" height="35" /></a>
                    </span> 
                    
                    and 
                    
                    <span>
                        <a href="https://tailwindcss.com"><img src="/static/images/tailwind-logo.png" width="35" height="35" /></a>
                    </span>
                     
                    by

                    <span>
                        <a href="https://www.ericnbello.com" class="font-semibold text-slate-700" target="_blank">ericnbello</a>
                    </span>
                </div>
            </div>
            <div class="w-full max-w-full px-3 mt-0 shrink-0 lg:w-1/2 lg:flex-none">
                <ul class="flex flex-wrap justify-center pl-0 mb-0 list-none lg:justify-end">
                    <li class="nav-item">
                        <a href="https://www.github.com/ericnbello" class="block px-4 pt-0 pb-1 font-normal transition-colors ease-soft-in-out text-size-sm text-slate-500" target="_blank">
                            <img src="/static/images/github-logo.png" width="30" height="35" />
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.linkedin.com/in/ericnbello" class="block px-4 pt-0 pb-1 font-normal transition-colors ease-soft-in-out text-size-sm text-slate-500" target="_blank">
                            <img src="/static/images/linkedin-logo.png" width="30" height="35" />
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://twitter.com/ericnbello" class="block px-4 pt-0 pb-1 font-normal transition-colors ease-soft-in-out text-size-sm text-slate-500" target="_blank">
                            <img src="/static/images/twitter-logo.png" width="30" height="35" />
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="https://www.ericnbello.com" class="block px-4 pt-0 pb-1 pr-0 font-normal transition-colors ease-soft-in-out text-size-sm text-slate-500" target="_blank">
                            
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</footer>