<!-- component -->
<header class="w-full px-2 bg-purple">
    <div class="container m-4 mx-auto bg-bottom bg-cover rounded-t shadow" style="background-image: url(https://i.imgur.com/R68RNUK.jpg)">
       <!-- Text shadow utilities will be cool -->
      <nav class="flex items-center justify-between p-8 mb-16">
        <a href="#" class="font-sans text-sm font-thin text-black md:text-white md:text-4xl">Massive Dynamics</a>
        <ul class="flex list-reset">
          <li><a href="#" class="p-2 text-black md:text-white md:p-4">Home</a></li>
          <li><a href="#" class="p-2 text-black whitespace-no-wrap md:text-white md:p-4">About Us</a></li>
          <li><a href="#" class="p-2 text-black md:text-white md:p-4">Contact</a></li>
        </ul>
      </nav>
      
      <div class="pb-16 text-center text-white">
        <h1 class="font-sans font-thin">Reality is just a matter of perception.</h1>
        <h2 class="mt-2 mb-4 text-sm font-thin tracking-wide">There are no limits, except for those that we impose on ourselves. Join the future</h2>
    
            <a href="#" class="inline-block p-4 mb-16 font-bold text-white rounded bg-orange">
                Apply Now
            </a>
        
      
      </div>
    </div>
    
</header>